.login-page{
 background-color: @ebony-Clay;
}

form {
    width: 450px;
    margin: 100px auto 0 auto;
    padding: 25px;
    border: 1px solid #333333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);

    .form-group {
        margin-bottom: 10px;
        overflow: auto;

        label {
            display: block;
            float: left;
            width: 25%;
            font-size: 18rem;
            padding: 4px 0;
        }

        input {
            font-size: 18rem;
            float: left;
            width: 75%;
        }

        .checkbox {
            width: 100%;

            label {
                width: 100%;
                cursor: pointer;

                input {
                    margin-right: 10px;
                    margin-top: 4px;
                    width: auto;
                }

            }
        }
    }

    .btn {
        font-size: 18rem;
    }

    p {
        margin-bottom: 0;
    }

}