@ebony-Clay:#2f3445;
@green: #1cb56a;


.login-page{
 background-color: @ebony-Clay;
}

form {
    width: 450px;
    margin: 100px auto 0 auto;
    padding: 25px;
    border: 1px solid #333333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    background-color: #fff;
    text-align: center;

    .form-group {
        margin-bottom: 10px;
        overflow: auto;

        label {
            display: block;
            float: left;
            width: 25%;
            font-size: 18rem;
            padding: 4px 0;
        }

        input {
            font-size: 18rem;
            float: left;
            width: 75%;
            display: block;
        }

        .checkbox {
            width: 100%;
            display: block;

            label {
                width: 100%;
                cursor: pointer;
                text-align: center;
                display: block;

                input {
                    margin-right: 10px;
                    margin-top: 4px;
                    width: auto;
                    text-align: center;
                    display: block;
                }

            }
        }
    }

    .btn {
        font-size: 18rem;
        text-align: center;
        background-color: #fff;
        border: 2px solid @green;
        color: @green;
        font-size: 18rem;
        text-align: center;
        border-radius: 27px;
        margin: 10px auto;
        padding: 15px 70px;
        display: block;
        box-sizing: border-box;
        text-transform: uppercase;
        outline: none;
        &:hover{
            background-color: @green;
            color: #fff;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
    }

    p {
        margin-bottom: 0;
    }

}