body {
    background: #ffffff;
}

/* ------------------- Sidebar */
#sidebar {
    overflow: hidden;
    width: 0;
    background: #000;
}

#sidebar.open {
    overflow: auto;
}

#sidebar.closed {
    overflow: hidden;
    width: 0;
    padding: 0;
}

#sidebar .sidebar-inner {
    padding: 20px;
}

/* -----------------  Circlifil */
.circliful {
    position: relative;
    margin-top: 30px;
    
    .fa {
        margin: -10px 3px 0 3px;
        position: relative;
        bottom: 4px;
    }
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}
.circle-info, .circle-info-half {
	color: #213b4c;
    text-decoration: italic;
    font-size: 12rem;
    top: -50px;
}
