
body, html { 
	color: @default-color;
	font: 1rem/1.667rem arial,sans-serif;
	height: 100%;
 }

 body .main.grid { 
	color: #000; /* REMOVE THIS USELESS CSS LATER! */
}

h1 { 
	font-size: 1.5rem;
}

h2 { 
	font-size: 1rem;
}

a, th { 
	color: @color-white;
}

.left { float: left; }

.right { float: right; }

table { width: 100%; }

table th, table td { text-align: left; }

select { padding: 0; }

