
body { 
	color: @color-white;
	font: 10px/20px arial,sans-serif;
 }

h1 { 
	font-size: 18px;
}

a { color: @color-white; }

.left { float: left; }

.right { float: right; }

table { width: 100%; }

table th, table td { text-align: left; }

select { padding: 0; }

