/* -----------------  Grid */
.grid {
  width: 100%;
}

/* -----------------  Columns */
/* Global */
[class*='col-'] {
  float: left;
}

/* Half */
.col-1-1 {
  width: 50%;
}

/* Third */
.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}
