.nav {
	background: @col-bg;
	height: 90.8%;
	.text-center;

	ul li a {
		padding-top: 25px;
		margin-top: 25px;
		display: inline-block;
	}

	.home a  {
		background: url('/images/site/icons/sprite.png') no-repeat 29px 0;
	}
	.projects a  {
		background: url('/images/site/icons/sprite.png') no-repeat -40px 0px;
	}
	.workflow a  {
		background: url('/images/site/icons/sprite.png') no-repeat -95px 0px;
	}
	.settings a  {
		background: url('/images/site/icons/sprite.png') no-repeat 16px -73px;
	}
	.user a  {
		background: url('/images/site/icons/sprite.png') no-repeat -50px -73px;
	}				
}