.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* Grid Variables */
/* -----------------  Global */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  width: 100%;
  padding: 5px 10px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
/* -----------------  Columns */
/* Global */
[class*='col-'] {
  float: left;
}
[class*='col-'] > * {
  padding: 20px;
  background: #ccc;
}
/* Twelfth */
.col-1 { width: 8.333333333333333%; }
.col-2 { width: 16.66666666666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333333333%; }
.col-5 { width: 41.66666666666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333333333333%; }
.col-8 { width: 66.66666666666666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333333333%; }
.col-11 { width: 91.66666666666666%; }
.col-12 { width: 100%; }

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
body {
  background: #ffffff;
}

select { padding: 0; }