.circle ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
.shadow ($radius) {
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.padding {
  padding: 0;
}
.margin {
  margin: 0;
}
.margin-auto {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
/* Grid Variables */
/* -----------------  Global */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  width: 100%;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
/* Grid Padding */
.grid-pad {
  padding: 20px 0 0 20px;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
/* Modules */
.module {
  padding: 20px;
  /* Default background */
  background: #cccccc;
}
/* -----------------  Columns */
/* Global */
[class*='col-'] {
  float: left;
  /* Default background */
  background: #ffffff;
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
  margin-right: 0;
}
/* Half */
.col-1-2 {
  width: 50%;
}
/* Third */
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
/* Quarter */
.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}
/* Fifth */
.col-1-5 {
  width: 20%;
}
.col-2-5 {
  width: 40%;
}
.col-3-5 {
  width: 60%;
}
.col-4-5 {
  width: 80%;
}
/* Sixth */
.col-1-6 {
  width: 16.6666666667%;
}
.col-2-6 {
  width: 33.3333333334%;
}
.col-3-6 {
  width: 50.0000000001%;
}
.col-4-6 {
  width: 66.6666666668%;
}
.col-5-6 {
  width: 83.3333333335%;
}
/* Seventh */
.col-1-7 {
  width: 14.28571428571429%;
}
.col-2-7 {
  width: 28.57142857142857%;
}
.col-3-7 {
  width: 42.85714285714286%;
}
.col-4-7 {
  width: 57.14285714285715%;
}
.col-5-7 {
  width: 71.428571428571%;
}
.col-6-7 {
  width: 85.71428571428529%;
}
/* Eigth */
.col-1-8 {
  width: 12.5%;
}
.col-2-8 {
  width: 25%;
}
.col-3-8 {
  width: 37.5%;
}
.col-4-8 {
  width: 50%;
}
.col-5-8 {
  width: 62.5%;
}
.col-6-8 {
  width: 75%;
}
.col-7-8 {
  width: 87.5%;
}
/* Ninth */
.col-1-9 {
  width: 11.1%;
}
.col-2-9 {
  width: 22.2%;
}
.col-3-9 {
  width: 33.3%;
}
.col-4-9 {
  width: 44.4%;
}
.col-5-9 {
  width: 55.5%;
}
.col-6-9 {
  width: 66.6%;
}
.col-7-9 {
  width: 77.7%;
}
.col-8-9 {
  width: 88.8%;
}
/* Tenth */
.col-1-10 {
  width: 10%;
}
.col-2-10 {
  width: 20%;
}
.col-3-10 {
  width: 30%;
}
.col-4-10 {
  width: 40%;
}
.col-5-10 {
  width: 50%;
}
.col-6-10 {
  width: 60%;
}
.col-7-10 {
  width: 70%;
}
.col-8-10 {
  width: 80%;
}
.col-9-10 {
  width: 90%;
}
/* Eleventh */
.col-1-11 {
  width: 9.090909090909091%;
}
.col-2-11 {
  width: 18.18181818181818%;
}
.col-3-11 {
  width: 27.27272727272727%;
}
.col-4-11 {
  width: 36.36363636363636%;
}
.col-5-11 {
  width: 45.45454545454545%;
}
.col-6-11 {
  width: 54.54545454545455%;
}
.col-7-11 {
  width: 63.63636363636364%;
}
.col-8-11 {
  width: 72.72727272727273%;
}
.col-9-11 {
  width: 81.81818181818182%;
}
.col-10-11 {
  width: 90.90909090909091%;
}
/* Twelfth */
.col-1-12 {
  width: 8.333333333333333%;
}
.col-2-12 {
  width: 16.66666666666667%;
}
.col-3-12 {
  width: 25%;
}
.col-4-12 {
  width: 33.33333333333333%;
}
.col-5-12 {
  width: 41.66666666666667%;
}
.col-6-12 {
  width: 50%;
}
.col-7-12 {
  width: 58.33333333333333%;
}
.col-8-12 {
  width: 66.66666666666666%;
}
.col-9-12 {
  width: 75%;
}
.col-10-12 {
  width: 83.33333333333333%;
}
.col-11-12 {
  width: 91.66666666666666%;
}
body {
  margin: 0;
}
