
/* Prefixes */

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;  
    border-radius: @radius;
}

.shadow (@shadow) {
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  box-shadow: @shadow;
}

.box-sizing { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Spacing */

.padding (@padding) { padding: @padding; }

.margin (@margin) { margin: @margin; }

/* Alignment */

.text-center { text-align: center; }

/* Grid Variables */

@pad: 20px;

/* Background and Colour */

@white: #ffffff;
@dark-blue: #0e1e28;
@green: #1cb56a;
@grey: #979797;

@primary-color: @white;
@nav-bg: @dark-blue;
@btn-bg: @green;
@page-title-border: @grey;

@red-bg: #e84c3d;
@amber-bg: #f0c516;
@green-bg: @green;

@default-color: @dark-blue;
@header-color: @dark-blue;
