
/* Prefixes */

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;  
    border-radius: @radius;
}

.box-sizing { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Spacing */

.padding (@padding) { padding: @padding; }

.margin (@margin) { margin: @margin; }

/* Grid Variables */

@pad: 20px;

/* Backgroung and Colour */

@body-bg: #ffffff;
@col-bg: #0e1e28;
@module-title-bg: #2d546c;
@btn-bg: #1cb56a;

@red-light-bg: #e84c3d;
@amber-light-bg: #f0c516;
@green-light-bg: #1cb56a;

@color-white: #ffffff;
@text-color: #0e1e28;
