form {
    overflow: auto;

    .form-group {
        margin-bottom: 10px;
        overflow: auto;
    }

    .form-group-inline {
        float: left;
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }
}

select { padding: 0; }