form {
    overflow: auto;

    .form-group {
        margin-bottom: 10px;
        overflow: auto;
        position: relative;

        label {
            display: block;
            float: left;
            width: 25%;
            padding-right: 10px;
            line-height: 28rem;
        }

        input[type="text"],
        input[type="search"],
        input[type="email"],
        input[type="date"],
        input[type="url"],
        input[type="number"],
        input[type="month"],
        input[type="tel"],
        input[type="week"],
        select {
            width: 75%;
            padding: 5px 10px;
            float: left;

            &.success {
                border: 1px solid @success-border;
                color: @success-text;
            }

            &.error {
                color: @err-text;
                border: 1px solid @err-border;
            }
        }

        &.textarea {
            label {
                width: 100%;
                padding: 0;
                margin-bottom: 10px;
                float: none;
                line-height: 28rem;
            }
        }
    }

    .form-group-inline {
        float: left;
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    .inline-msg {
        position: absolute;
        top: 1px;
        right: 5px;
        padding: 5px;
        background: @white;
    }
}

select { padding: 0; }