*, *:after, *:before {
    .box-sizing;
}

html {
	height: 100%;
}

body.grid {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    background: @main-bg;
}

main {
 	padding: @pad;
    height: 88%;
    overflow: auto;
 }

a {
    color: @link-color;
    &:hover {
        color: @link-hover;
    }
}

.left { float: left; }

.right { float: right; }

.priority-icon {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    .border-radius(50%);
    .priorities(background-color);
}

.err-msg {
    color: @err-text;
}

.success-msg {
    color: @success-text;
}

/* -----------------  Alerts */
.alert {
    display: block;
    width: 100%;
    padding: 10px 15px;
    .border-radius(10px);
    border: 1px solid @neutral-border;
    background-color: @neutral-background;
    color: @neutral-text;

    &.success {
        background-color: @success-background;
        color: @success-text;
        border-color: @success-border;
    }

    &.fail {
        background-color: @err-background;
        color: @err-text;
        border-color: @err-border;
    }
}


/* -----------------  Dynamic lists - AJAX populated */
.dyn-list {
    margin-top: 5px;

    li {
        cursor: pointer;

        &:hover {
            color: @green;
        }
    }
}

/* -----------------  Circlifil */
.circliful {
    position: relative;
    margin-top: 15px;
    float: left;

    .fa {
        margin: -10px 3px 0 3px;
        position: relative;
        bottom: 4px;
    }

    .priorities(color);

    .circle-text, .circle-info, .circle-text-half, .circle-info-half {
        width: 100%;
        position: absolute;
        text-align: center;
        display: inline-block;
    }
    .circle-info, .circle-info-half {
        color: @grey;
        font-style: italic;
        font-size: 12rem;
        top: -10px;
        line-height: normal!important;
    }
}

