/* ------------------- Global CSS For Modules */

.inner-module {
	padding: 10px;
}

.module-container {
	overflow: hidden;
}

#taskupdate,
#recenttasks,
#mytasks,
#inprogress,
#stats {
	.border-radius (5px);
	.shadow (0 0 6px rgb(179,179,179,.5));
	border: solid 1px @default-color;
	margin: 0 10px 15px 0;
}

.module-footer {
    display: block;
    border-top: 1px solid @grey;
    margin-top: 10px;
    padding-top: 10px;
}

/* ------------------- Task Update */

#taskupdate {

    .dyn-list {
        max-height: 50px;
    }

	.gravatar,
	.update {
		.left;
	}

    .gravatar {
        .border-radius(50%);
        margin-right: 15px;
    }

    textarea {
        border: none;
        display: block;
        width: 100%;
        height: 50px;
    }

}