/* ------------------- CSS For Modules */
.module {
    padding: 0 10px;
    margin-bottom: 20px;

    h3 {
        cursor: pointer;
    }

    .module-container {
        overflow: auto;
        .border-radius (5px);
        /*.shadow (0 0 6px rgb(179,179,179,.5));*/
        border: solid 1px @mystic;
        background-color: @white;
    }

    .inner-module {
        padding: 10px;
        overflow: auto;
    }

    .module-footer {
        overflow: auto;
        display: block;
        border-top: 1px solid @grey;
        margin-top: 10px;
        padding-top: 10px;
    }
}

.open h3::after {
    content: '-';
    float: right;
    font-weight: bold;
}

.closed h3::after {
    content: '+';
    float: right;
    font-weight: bold;
}

/* ------------------- Task Update Module */

#taskupdate {

    .dyn-list {
        max-height: 50px;
    }

	.gravatar,
	.update {
		.left;
	}

    .gravatar {
        .border-radius(50%);
        margin-right: 15px;
    }

    textarea {
        border: none;
        display: block;
        width: 100%;
        height: 50px;
    }

}